.chutr{
    width: 560px;
    margin: auto;
}
.trang{
    font-family: "Roboto Slab", serif;
}
h2{
    color: rgb(19,151,151);
}
.tin{
    color: #ffffff;
    background-color: rgb(66,189,189);
}
.lia{
    font-size: 13px;
}

.lia a{
    text-decoration: none;
    color: rgb(134, 134, 134);
}
a:hover{
    color: rgb(9, 2, 137);
}
.img{
    width: 560px;
    height: 430px;
    background-color: rgb(194,186,186);
}
.img img{
    width: 510px;
    height: 350px;
margin-left: 25px;
margin-top: 5px;
}
.img p{
    color: rgb(66, 68, 189);
    margin-left: 9px;
}

.cuoi{
    margin-left: 450px;
}