.chutr{
    width: 750px;
    margin: auto;
}
.chinh{
    font-family:Arial;
}
h1{
    color: #2b00ff;
    background-color: rgb(175, 175, 175);
}
.ahn img{
    width: 750px;
}
.phut{
    width: 450px;
}
.anh img{
    width: 200px;

}
.anh a{
    text-decoration: none;
    color: #7c7c7c;
}
.fa-address-book-o{
    margin-left: 8%;
    color: #002c6e;
    font-size: 200px;
}
.icon{
    height: 100px;
    background-color: #7c7c7c;
}