.chung{
    width: 90%;
    height: 5000px;
    margin: 0 auto;
    top: 0;
    left: 0;
   
}
.chu {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    top: 0;
    background-image:url(anh\ hoaa.png);
}
.dau{
    width: 860px;
    margin: auto;
    top: 20px;
}
.dau ul{
    list-style: none;
    background-color: rgb(42, 42, 42);
    overflow: hidden;
    width:850px;
    height: 40px;
   
    top:20px;
    border-radius: 20px;
    font-family: Arial;
    font-size: 12px;
    
}
.dau ul li{
    float: left;
    margin-top: 15px;
   
}
.dau ul li.la{
    margin-top: 10px;
   margin-left: 65px;
}
.dau ul li a{
    margin: auto;
    text-decoration: none; 
    padding: 17px 21px;
    text-align: center;
    color: #ffffff;
}
.dau ul li a.active{
    font-family: serif;
    font-size: 20px;
   
}
.daugiua{
    width: 350px;
    position: relative;
    overflow: hidden;
    top: 180px;
    left: 300px;
    
}
p.pi{
    font-family: serif;
    font-size: 55px;
}
p.pa{
    font-size: 40px;
}
p.pa{
    font-family: "Oooh Baby", cursive;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.thea {
    width: 250px;
}
.thea ul li a{
    text-decoration: none; 
    padding: 4px 20px;
    color: #1a1a1a;
}
.thea ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.208);
    overflow: hidden;  
    height: 35px;
    
    top: 600px;
    border-radius: 18px;
    font-family: Arial;
    font-size: 16px;
}
.thea ul li{
    float: left;
    margin-top: 10px; 
}
.thea ul li:last-child{
    border-right:none ;
    float: right;
}
.thea ul li a:hover{
    background-color: rgb(255, 99, 159);
    color: #ffffff;
    border-radius: 18px;
}
.giua{
    width: 100%;
    height: 220px;
    margin: 0 auto;
    background-image: url(backgroud\ giua.png);
}
.giuatrang{
    width: 550px;
    position: relative;
    overflow: hidden;
    top: 8px;
    left:  520px;

}
.giuatrang p{
    color: #ffffff;
}
.giuatrang p.pi{
    font-size: 40px;
}
.giuatrang p.pa{
    margin-left: 100px;
  
}
.cuoi{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background: #efefefdf;
}
.daucuoi{
    width: 500px;
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 550px;
}
.daucuoi p.pi{
    font-size: 40px;
}
.giuacuoi{
    display: flex;
    justify-content: space-evenly;
    
}
.ing1 img{
    width: 200px;
}
.ing1 {
    margin-top: 70px;
}
.ing1 .ch1 p.pi{
    font-size: 30px;
}
.ing1 .ch1 p{
    font-size: 20px;
}
.ch1{
    width: 250px;
}
.ch1 ul li a{
    text-decoration: none; 
    padding: 4px 20px;
    color: #1a1a1a;
}
.ch1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.208);
    overflow: hidden;  
    height: 35px;
    
    top: 600px;
    border-radius: 18px;
    font-family: Arial;
    font-size: 16px;
}
.ch1 ul li{
    float: left;
    margin-top: 10px; 
}

.ch1 ul li a:hover{
    background-color: rgb(49, 87, 49);
    color: #bababa;
    border-radius: 18px;
}