h1{
    font-family:Cambria, Cochin, Georgia, Times, blod, serif;
}
div{
    width: 700px;
    margin: auto;
}
.doan1{
    font-family:Cambria, Cochin, blod;
    font-size: 20px;
}
.doan2{
    font-family: Cambria, Cochin;
}

